/* Header style start  */

#menu{
  display: block;
  float: right;
}
#typewriter{
  display: block;
}

@media screen and (max-width:600px) {
  #menu{
    display: none;
  }
  #typewriter{
    display: none;
  }
}